.red
{
    background-color: red;
    height: 100px;
    width: 100px;
    position:absolute;
    /* display: inline-block; */
    margin: 0%;
    padding: 0%;
    top: 200px;
    left: 200px;


}
.blue
{
    background-color: blue;
    height: 100px;
    width: 100px;
    /* display: inline-block; */
    position: absolute;
    left:100px;
    top: 100px;
    margin: 0%;
    padding: 0%;
}
.yellow
{
    background-color: yellow;
    height: 100px;
    width: 100px;
    /* display: inline-block; */
    position: absolute;
    margin: 0%;
    padding: 0%;
    top:0px;
    left:0px;
    /* left:  */
}